<% content_for :title do %>
- <%= @brew.name %>
<% end %>

<% content_for :header do %>
  <h1><%= @brew.name %></h1>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <% if @brew.active? %>
    <p><span class="label">Being Monitored</span></p>
    <% else %>
      <% form_tag "/brews/#{@brew.id}/activate", :method => "put" do %>
      <%= submit_tag "Make Active Brew", :class => "button" %>
      <% end %>
    <% end %>
    <ul class="no-bullet">
      <li>
        <big>Style:</big> <span class="subheader"><%= @brew.style %></span>
      </li>
      <li>
        <big>Temperature Range</big>
        <span class="subheader">
          <%= @brew.lower_fermentation_temperature %>&deg;C
           - 
          <%= @brew.upper_fermentation_temperature %>&deg;C
        </span>
      </li>
    </ul>
  </div>
<div>

<div class="row">
  <div class="large-12 columns" id="chart"></div>
</div>

<% content_for :additional_js do %>
<script type="text/javascript" src="/js/tempchart.js"></script>
<% end %>